{% extends "homebase.html" %}

{% block title %} {{ book.title }} {% endblock %}
{% block keywords %} {{ book.keywords }} {% endblock %}
{% block description %} {{ settings.description }} {% endblock %}

{% block head %}
    {% load static %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ settings.icon.url }}'/>
    <link rel="stylesheet" href="{% static 'themes/css/bookdetail/font-awesome.min.css' %}">
{% endblock %}


{% block content %}

    <div id="mainBody">
        <div class="container">
            <div class="row">

                {% block sidebar %} {% include "sidebar.html" %} {% endblock %}

                <div class="span9">
                    <ul class="breadcrumb">
                        <li><a href="/">Anasayfa</a> <span class="divider">/</span></li>
                        <li><a href="products.html">Books</a> <span class="divider">/</span></li>
                        <li><a href="/category/{{ book.category.id }}/{{ book.category.slug }}">{{ book.category }}</a>
                            <span
                                    class="divider">/</span></li>
                        <li class="active">{{ book.title }}</li>
                    </ul>


                    <div class="row">
                        <div id="gallery" class="span3">

                            <a href="{{ book.image.url }}" title="{{ book.title }}"><img src="{{ book.image.url }}"
                                                                                         style="width:100%"
                                                                                         alt="{{ book.title }}"/></a>

                            <div id="differentview" class="moreOptopm carousel slide">
                                <div class="carousel-inner">
                                    <div class="item active">
                                        {% for rs in images %}
                                            <a href="{{ rs.image.url }}"> <img style="width:29%"
                                                                               src="{{ rs.image.url }}" alt=""/></a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

                            {% comment %}<div class="btn-toolbar">
                                <div class="btn-group">
                                    <span class="btn"><i class="icon-envelope"></i></span>
                                    <span class="btn"><i class="icon-print"></i></span>
                                    <span class="btn"><i class="icon-zoom-in"></i></span>
                                    <span class="btn"><i class="icon-star"></i></span>
                                    <span class="btn"><i class=" icon-thumbs-up"></i></span>
                                    <span class="btn"><i class="icon-thumbs-down"></i></span>
                                </div>
                            </div>{% endcomment %}
                        </div>
                        <div class="span6">
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-{{ message.tags }}" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                            <h3> {{ book.title }}</h3>
                            <small><b>{{ book.author }} - {{ book.publisher }}</b></small>
                            <hr class="soft"/>
                            <form class="form-horizontal qtyFrm" action="/order/addtocard/{{ book.id }}" method="post">
                                {% csrf_token %}
                                <div class="control-group">
                                    <label class="control-label"><span>{{ book.amount }} books in stock</span></label>
                                    <label class="control-label"> Kitap maximum 20 günlük ödünç alınabilir:</label>
                                </div>
                                <div class="control-group">
                                    <button type="submit" class="btn btn-large btn-primary pull-right"> Add to cart<i
                                            class=" icon-shopping-cart"></i></button>
                                    <label for="end_date">start_date: </label>
                                    <input type="date" id="start_date" name="start_date"
                                           value="{{ start | date:"Y-m-d" }}">
                                    <label for="end_date">end_date:</label>
                                    <input type="date" id="end_date" name="end_date">

                                </div>
                            </form>

                            <hr class="soft clr"/>
                            <p>
                                {{ book.detail |safe | truncatewords:40 }}
                            </p>
                            <a class="btn btn-small pull-right" href="#detail">More Details</a>
                            <br class="clr"/>
                            <a href="#" name="detail"></a>
                            <hr class="soft"/>
                        </div>

                        <div class="span9">
                            <ul id="productDetail" class="nav nav-tabs">
                                <li class="active"><a href="#home" data-toggle="tab">Kitap Detayları</a></li>
                                <li><a href="#profile" data-toggle="tab">Yorumlar</a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in" id="home">
                                    <h4>Kitap Bilgileri</h4>
                                    {{ book.detail | safe }}
                                </div>

                                <div class="tab-pane fade" id="profile">
                                    <div class="tab-content">
                                        <div class="row">

                                            <div class="span5">
                                                <div class="product-reviews">
                                                    {% for rs in comments %}
                                                        <div class="single-review">
                                                            <div class="review-heading">
                                                                <div><i class="fa fa-user"></i>{{ rs.user.first_name }}
                                                                </div>
                                                                <div><i class="fa fa-clock-o"></i>{{ rs.create_at }}
                                                                </div>
                                                                <div class="review-rating pull-right">
                                                                    <i class="fa fa-star{% if rs.rate < 1 %}-o empty{% endif %}"></i>
                                                                    <i class="fa fa-star{% if rs.rate < 2 %}-o empty{% endif %}"></i>
                                                                    <i class="fa fa-star{% if rs.rate < 3 %}-o empty{% endif %}"></i>
                                                                    <i class="fa fa-star{% if rs.rate < 4 %}-o empty{% endif %}"></i>
                                                                    <i class="fa fa-star{% if rs.rate < 5 %}-o empty{% endif %}"></i>
                                                                </div>
                                                            </div>
                                                            <div class="review-body">
                                                                <b>{{ rs.subject }}</b>
                                                                <p>{{ rs.comment }}</p>
                                                            </div>
                                                        </div>
                                                    {% endfor %}

                                                    <ul class="reviews-pages">
                                                        <li class="active">1</li>
                                                        <li><a href="#">2</a></li>
                                                        <li><a href="#">3</a></li>
                                                        <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="span4">
                                                <h4 class="text-uppercase">Write Your Review</h4>
                                                <p>Your email address will not be published.</p>
                                                {% if messages %}
                                                    {% for message in messages %}
                                                        <div class="alert alert-{{ message.tags }}" role="alert">
                                                            {{ message }}
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                                <form class="review-form" action="/book/addcomment/{{ book.id }}/"
                                                      method="post">
                                                    {% csrf_token %}
                                                    <div class="form-group">
                                                        <input class="input" type="text" name="subject" id="id_subject"
                                                               placeholder="Subject"/>
                                                    </div>

                                                    <div class="form-group">
                                                        <textarea class="input" name="comment" id="id_comment"
                                                                  placeholder="Your review"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="input-rating">
                                                            <strong class="text-uppercase">Your Rating: </strong>
                                                            <div class="stars">
                                                                <input type="radio" id="star5" name="rating" value="5"/><label
                                                                    for="star5"></label>
                                                                <input type="radio" id="star4" name="rate"
                                                                       value="4"/><label
                                                                    for="star4"></label>
                                                                <input type="radio" id="star3" name="rate"
                                                                       value="3"/><label
                                                                    for="star3"></label>
                                                                <input type="radio" id="star2" name="rate"
                                                                       value="2"/><label
                                                                    for="star2"></label>
                                                                <input type="radio" id="star1" name="rate"
                                                                       value="1"/><label for="star1"></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% if user.id is not None %}
                                                        <button class="primary-btn" type="submit">Send Comment</button>
                                                    {% else %}
                                                        Yorum Eklemek için <a href="/login">Login</a>  Olunuz.
                                                    {% endif %}
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br class="clr">
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- MainBody End ============================= -->


{% endblock %}

