{% load static %}

<!-- Footer ================================================================== -->
<div id="footerSection">
    <div class="container">
        <div class="row">
            <div class="span3">
                <h5>ACCOUNT</h5>
                <a href="/user"><i class="icon-user"></i>YOUR ACCOUNT</a>
                <a href="/user/orders"><i class="icon-shopping-cart"></i>YOUR ORDERS</a>
                <a href="/user/comments"><i class="icon-pencil"></i>YOUR COMMENTS</a>
                <a href="/user/favorites"><i class="icon-heart"></i>FAVORITES</a>
            </div>
            <div class="span3">
                <h5>INFORMATION</h5>
                <a href="/hakkimizda">HAKKIMIZDA</a>
                <a href="/referanslar">REFERANSLAR</a>
                <a href="/iletisim">İLETİŞİM</a>
                <a href="faq.html">FAQ</a>
            </div>

            <div id="socialMedia" class="span3 pull-right">
                <h5>SOCIAL MEDIA </h5>
                <a href="#"><img width="60" height="60" src="{% static 'themes/images/facebook.png' %}" title="facebook"
                                 alt="facebook"/></a>
                <a href="#"><img width="60" height="60" src="{% static 'themes/images/twitter.png' %}" title="twitter"
                                 alt="twitter"/></a>
                <a href="#"><img width="60" height="60" src="{% static 'themes/images/youtube.png' %}" title="youtube"
                                 alt="youtube"/></a>
            </div>
        </div>
        <p class="pull-right">&copy; Emre ÖZTÜRK</p>
    </div>
</div>
<!-- Placed at the end of the document so the pages load faster ============================================= -->

<script src="{% static 'themes/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'themes/js/google-code-prettify/prettify.js' %}"></script>

<script src="{% static 'themes/js/bootshop.js' %}"></script>
<script src="{% static 'themes/js/jquery.lightbox-0.5.js' %}"></script>
<script>
    var static_url = "{% get_static_prefix %}";
    var media_url = "{% get_media_prefix %}";
</script>

