{% load static %}

<script>
    $(function () {
        $("#query").autocomplete({
            source: "/search_auto/",
            select: function (event, ui) { //item selected
                AutoCompleteSelectHandler(event, ui)
            },
            minLength: 2,
        });
    });

    function AutoCompleteSelectHandler(event, ui) {
        var selectedObj = ui.item;
    }
</script>

<div id="header">
    <div class="container">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message | safe }}
                </div>
            {% endfor %}
        {% endif %}
        <div id="welcomeLine" class="row">
            <div class="span6">
                {% if user.id is not None %}
                    Welcome!<strong>  <a href="/user">{{ user.first_name }}</a></strong>
                {% endif %}
            </div>
            <div class="span6">
                <div class="pull-right">
                    <a href="/shopcard"><span class="btn btn-mini btn-primary"><i
                            class="icon-shopping-cart icon-white"></i> [ {{ request.session.card_items }} ] Books in your cart </span> </a>
                </div>
            </div>
        </div>
        <!-- Navbar ================================================== -->
        <div id="logoArea" class="navbar">
            <a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <div class="navbar-inner">
                <a class="brand" href="/"><img src="{% static 'themes/images/logo.png' %}" alt="Bootsshop"/></a>

                <form class="form-inline navbar-search" method="post" action="/search/">
                    {% csrf_token %}
                    <input class="srchTxt" id="query" name="query" type="text"/>
                    <button type="submit" id="submitButton" class="btn btn-primary">ARA</button>
                </form>

                <ul id="topMenu" class="nav pull-right">
                    <li class=""><a href="/">Anasayfa</a></li>
                    <li class=""><a href="#">Kitaplar</a></li>
                    <li class=""><a href="/hakkimizda">Hakkımızda</a></li>
                    <li class=""><a href="/referanslar">Referanslar</a></li>
                    <li class=""><a href="/iletisim">İletişim</a></li>
                    <li class="">
                        {% if user.id is not None %}
                            <a href="/logout" role="button" data-toggle="modal" style="padding-right:0"><span
                                    class="btn btn-large btn-success">Logout</span></a>
                        {% else %}
                            <a href="/login" role="button" data-toggle="modal" style="padding-right:0"><span
                                    class="btn btn-large btn-success">Login</span></a>
                        {% endif %}

                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Header End====================================================================== -->