{% load static %}

<!-- Sidebar ================================================== -->
<div id="sidebar" class="span3">
    <div class="well well-small"><a id="myCart" href="/shopcard"><img
            src="{% static 'themes/images/ico-cart.png' %}" alt="cart"><big>{{ request.session.card_items }}</big> Books in your cart </a></div>
    <ul id="sideManu" class="nav nav-tabs nav-stacked">


        <li><a style="background: rgba(245,245,245,0.86); text-align: center "><b>KATEGORİLER</b></a></li>

        {% load mptt_tags %}
        {% recursetree category %}
            <li {% if not node.is_leaf_node %}class="subMenu"{% endif %}><a
                    href="/category/{{ node.id }}/{{ node.slug }}">{% if node.is_leaf_node %}
                <i class="icon-chevron-right"></i>{% endif %} {{ node.title }} </a>

                {% if not node.is_leaf_node %}
                    <ul>
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}


    </ul>
    <br/>
    <div class="thumbnail">
        <h3 style="text-align:center">Ayın Kitabı</h3>
        <img src="{{ bookfirst.image.url }}" alt="{{ bookfirst.title }}"/>
        <div class="caption">
            <h5 style="text-align:center">{{ bookfirst.title }}</h5>
            <h6 style="text-align:center">{{ bookfirst.author }}</h6>
            <h4 style="text-align:center">
                <a class="btn" href="/book/{{ bookfirst.id }}/{{ bookfirst.slug }}"> <i class="icon-zoom-in"></i>Detay</a>
                <a class="btn" href="/order/addtocard/{{ bookfirst.id }}">Add to <i class="icon-shopping-cart"></i></a></h4>
        </div>
    </div>
    <br/>

</div>
<!-- Sidebar end=============================================== -->