{% extends "homebase.html" %}

{% block title %} Order Detail{% endblock %}
{% block keywords %} {{ settings.keywords }} {% endblock %}
{% block description %} {{ settings.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ settings.icon.url }}'/> {% endblock %}

{% block content %}
    <div id="mainBody">
        <div class="container">
            <hr class="soften"/>
            <div class="row">
                <div class="span4">
                    <div class="well" style="padding: 8px 0;">
                        <ul class="nav nav-list">
                            <li><a href="/user"><i class="icon-user"></i> My Account</a></li>
                            <li><a href="/user/orders"><i class="icon-shopping-cart"></i> My Orders</a></li>
                            <li><a href="/user/comments"><i class="icon-pencil"></i> My Comments</a></li>
                            <li><a href="/user/favorites"><i class="icon-heart"></i> My Favorites</a></li>
                            <li><a href="/logout"><i class="icon-lock"></i> LOGOUT</a></li>
                        </ul>
                    </div>
                </div>

                <div class="span8">
                    <table class="table table-striped">
                        <tr>
                            <th> </th>
                            <th>Book Name</th>
                            <th>Author</th>
                            <th>Publisher</th>
                            <th>Teslim </th>
                            <th>İade </th>
                            <th>Status</th>
                        </tr>
                        {% for rs in orderitems %}
                        <tr>
                            <td><a href="/book/{{ rs.book_id }}/{{ rs.book.slug }}"><img src="{{ rs.book.image.url }}" style="height: 60px"></a></td>
                            <td><a href="/book/{{ rs.book_id }}/{{ rs.book.slug }}">{{ rs.book.title }}</a></td>
                            <td>{{ rs.book.author }}</td>
                            <td>{{ rs.book.publisher }}</td>
                            <td>{{ rs.start_date |date:"d.m.Y" }}</td>
                            <td>{{ rs.end_date |date:"d.m.Y" }}</td>
                            <td>{{ rs.status }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>

    </div>
    </div>
    <!-- MainBody End ============================= -->

{% endblock %}

